:root {
  --shadow: 0 12px 120px rgb(0 0 0 / 10%);
  --green: #91e4a3;
  --left-width: 23%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body,#root {
  width: 100%;
  height: 100%;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
}
h1, h2 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}

main {
  display: flex;
  height: 100%;
}
.left {
  position: fixed;
  height: 100%;
  width: var(--left-width);
  background-color: #f4f9ff;
}
.right {
  position: relative;
  width: calc(100% - var(--left-width));
  margin-left: var(--left-width);
}
.left__container {
  height: 100%;
  width: 100%;
  padding: 100px 40px;
  overflow: auto;
}
.right__container {
  width: 100%;
  padding: 100px 300px 100px 120px;
}
.menu {
  display: flex;
  flex-direction: column;
}
h2 {
  font-size: 1em;
  margin-left: 20px;
  width: 100%;
  font-weight: 600;
}
.menu__wrap {
  margin: 50px 0;
}
input[type=text] {
  width: 100%;
  border: none;
  border-radius: 8px;
  padding: 20px;
  font-size: .8em;
  letter-spacing: -.25px;
  font-family: 'Montserrat', sans-serif;
  outline: none;
}
input[type=text]::placeholder {
  font-weight: 300;
}

.view--missing {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}
.view--missing span {
  margin: auto;
  font-size: 3em;
  font-weight: 800;
  white-space: nowrap;
  color: #ddd;
}